*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}

:root{
    --color-principal-00: rgb(176, 94, 252) ;
    --color-secundario: rgb(230, 192, 255);
    --color-principal-01:  rgba(199, 140, 255, .9);
    --letra-body:  rgb(22, 22, 22);
}



.header{
    display: flex;
    position: fixed;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: var(--color-principal-00);
    z-index: 200;
}

.div-titulo{
    display: flex;
    width: 70%;
    height: auto;
    padding-left: 5%;
}

.titulo{
    font-size: 1.8rem;
    color: aliceblue;
}

.titulo:first-letter{
    font-size: 2rem;
}

.div-pati{
    width: 27%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: right;
    text-align: right;
}

#menu-toggler{
    display: none;
}

.btn-pati{
    width: 50%;
    height: 50%;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--color-principal-00);
    border: none;
    display: flex;
    align-items: center;
    color: aliceblue;
}

.menu{
    display: none;
    position: absolute;
    top: 100%;
    left: 10%;
    right: 10%;
    width: 80%;
    border-radius: 10px;
    z-index: 1000;
    border: none;
}

.a-menu-pati{
    display: flex;
    font-size: 2rem;
    border: solid 1px black;
    color: aliceblue;
    width: 100%;
    text-decoration: none;
    justify-content: center;
    border-radius: 10px;
    background-color: var(--color-principal-00);
    padding-top: 10%;
    padding-bottom: 10%;
}

#menu-toggler:checked ~ .menu {
    display: block;
}

.div-img-logo{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 300px;
    bottom: 20%;
    background-color: var(--color-principal-00);
    align-items: center;
    justify-content: center;
}

.img-logo{
    width: 120px;
    height: auto;
    padding-right: 5%;
}

.span-00{
    display: none;
    border-left: solid 1px white;
    height: 70%;
}

.h3-descripcion{
    display: flex;
    width: 50%;
    color: aliceblue;
}

.div-arreglo{
    background-color: white;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border: none;
}

/*       MENU-2       */

.div-menu-2{
    display: none;
    width: 70%;
    position: relative;
}

.menu-2{
    display: flex;
    position: absolute;
    height: 100%;
    align-items: center;
    text-align: center;
    margin-right: 0;

}

.menu-2 ul{
    display: flex;
    align-items: center;
    margin-right: 5%;
}

.menu-2 ul a{
    text-align: center;
    text-decoration: none ;
    color: aliceblue;
    font-size: 1.3rem;
}

main{
    padding-top: 18%;
}



/***
    SECTION_APARATO
***/
.section-aparatos{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.h1-oportunidad{
    color: var(--color-principal-00);
    margin-bottom: 3%;
}

.div-img-aparatos{
    width: 100%;
    display: flex;
    justify-content: center;
}

.img-aparatos{
    width: 300px;
    border-radius: 100%;
    border: solid 5px var(--color-principal-00);
    display: flex;
    justify-content: center;
}

.div-descripcion-00{
    width: 100%;
    color: var(--color-principal-00);
    font-size: .8rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.div-descripcion-00 h2{
    margin-top: 3%;
    width: 80%;
}

/***
    SECTIO_PC
***/

.section-pc{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.div-h1-pc{
    text-align: center;
    color: var(--color-principal-00);
}

.div-descripcion-01{
    width: 100%;
    color: var(--color-principal-00);
    font-size: .8rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.div-descripcion-01 h2{
    margin-top: 3%;
    width: 80%;
    margin-bottom: 15px;
}

.div-img-pc{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.img-pc{
    width: 300px;
    border: solid 5px var(--color-principal-00);
    border-radius: 10px;
    margin-top: 10px;
}


/***
    SECTION_CONTACTO
***/
.div-me-puedes{
    display: flex;
    color: var(--color-principal-00);
    align-items: center;
    justify-content: center;
}

.div-ubicacion{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    width: 400px;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.div-img-ubicacion{
    width: 40%;
    height: 60%;
    border-radius: 100%;
    background-color: rgb(15, 143, 255);
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.img-ubicacion{
    width: 100px;
    height: auto;
}

.a-direccion{
    text-decoration: none;
    font-size: .8rem;
    color: var(--letra-body);
}

.footer{
    position: relative;
    width: 100%;
    height: 200px;
    background-color: var(--color-principal-00);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}



/*** 
         @MEDIA PARA CELULARES EN ORIZONTAL
***/

@media (max-width: 1000px) and (orientation: landscape) {

    .div-img-logo{
        display: flex;
        flex-direction: row;
        height: 250px;

    }

    .img-logo{
        width: 20%;
        height: auto;
        padding-right: 5%;
        object-fit: contain;
    }

    .span-00{
        display: block;
        margin-right: 3%;
    }

    .h3-descripcion{
        display: flex;
        font-size: 2rem;
    }

    /*        MENU          */

    .btn-pati{
        display: none;
    }


    /*      menu-2     */

   .div-menu-2{
    display: block;
   }

    main{
    padding-top: 8%; 
    }

} 