<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6YSRG3P3QT"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-6YSRG3P3QT');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuedoComoNuevo</title>
    <link rel="stylesheet" href=" {{ url_for('static', filename='css/styles.css') }} ">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/logo-icon.png') }}">
</head>

<body>
    <header class="header">
            <a class="div-titulo">
                <h2 class="titulo">Quedo</h2>
                <h2 class="titulo">Como</h2>
                <h2 class="titulo">Nuevo</h2>
            </a>

            <div class="div-menu-2">
                <nav class="menu-2">
                    <ul><a href="/" class="a-menu-pati-2">Inicio</a></ul>
                    <ul><a href="/endesarrollo" class="a-menu-pati-2">Informacion</a></ul>
                    <ul><a href="/endesarrollo" class="a-menu-pati-2">Trabajos</a></ul>
                    <ul><a href="/endesarrollo" class="a-menu-pati-2">Contactame</a></ul>
                </nav>
            </div>

            <div class="div-pati">
                <input type="checkbox" name="" id="menu-toggler">
                <label class="btn-pati" for="menu-toggler" type="button">☰</label>

                <nav class="menu">
                    <ul><a href="/" class="a-menu-pati">Inicio</a></ul>
                    <ul><a href="/endesarrollo" class="a-menu-pati">Informacion</a></ul>
                    <ul><a href="/endesarrollo" class="a-menu-pati">Trabajos</a></ul>
                    <ul><a href="/endesarrollo" class="a-menu-pati">Contactame</a></ul>
                </nav>
            </div>
            
    </header>

    <main>

        <section class="section-g">
            <div class="div-img-logo">

                <img class="img-logo" src="{{ url_for('static', filename='img/logo-00.png') }}" alt="">
                <span class="span-00"></span>
                <h3 class="h3-descripcion">
                Reparar tus electrodomésticos ahora es más fácil.
                </h3>
                <div class="div-arreglo"></div>
            </div>
           
        </section>

        <section class="section-aparatos">
            <h1 class="h1-oportunidad">¡Dale otra oportunidad!</h1>
            <div class="div-img-aparatos">
                <img class="img-aparatos" src="{{ url_for('static', filename='img/aparatos.png') }}" alt="">
            </div>
            <div class="div-descripcion-00">
                <h2>¿Tu electrodoméstico dejó de funcionar? ¡No lo tires! 🛠️
                Me dedico a la reparación y mantenimiento de pequeños y 
                medianos electrodomésticos</h2>
            </div>
        </section>

        <section class="section-pc">
            <div class="div-h1-pc">
                <h1 class="h1-pc">PC y Laptop</h1>
            </div>
            <div class="div-img-pc">
                <img class="img-pc" src="{{ url_for('static', filename='img/pc.png') }}" alt="Imagenes de computadoras">
            </div>
            <div class="div-descripcion-01">
                <h2>Reparación y mantenimiento, de 
                    escritorio y portátiles. Instalación y 
                    de sistemas operativos, recuperación de datos,
                    mantenimiento físico.</h2>
            </div>
        </section>
        
        <section>
              <div class="div-h1-pc">
                <h1 class="h1-pc">Se tilda, Se apaga</h1>
            </div>
            <div class="div-img-pc">
                <img class="img-pc" src="{{ url_for('static', filename='img/consolas.png') }}" alt="Imagenes de computadoras">
            </div>
            <div class="div-descripcion-01">
                <h2>¿Juntó mugre? ¿Hace ruido a turbina? ¿Se te apaga en medio del juego?
                Servicio de mantenimiento y limpieza profunda
                PlayStation | Xbox | Nintendo</h2>
            </div>
        </section>

        <section class="section-contacto">
            <h1 class="h1-contacto">Contacto</h1>
            <div class="div-whatsapp">
               
                <a class="a-whatsapp" id="what" href="https://wa.me/5491162689457?text=Hola%20buenos%20dias,%20Gabriel."  target="_blank" rel="noopener noreferrer">
                    <img class="img-whatsapp" for="what" src="{{ url_for('static', filename='img/whatsapp.png') }}" alt="">
                    <h2>11-6268-9457</h2>
                </a>
                <a class="a-whatsapp" href="https://wa.me/5491127140002?text=Hola%20buenos%20dias,%20Gabriel." target="_blank" rel="noopener noreferrer">
                    <h2>11-2714-0002</h2>
                </a>
            </div>
            <div class="div-me-puedes">
                <h2 class="h2-me-puedes">
                    Me puedes encontrar aqui
                </h2>
            </div>
            <div class="div-ubicacion">
                <a class="div-img-ubicacion" href="https://www.google.com/maps/place/Mariano+de+Vedia+y+Mitre+10231,+B1736ELI+Trujui,+Provincia+de+Buenos+Aires/@-34.5840521,-58.759809,17z/data=!4m15!1m8!3m7!1s0x95bc97470157d00d:0x2d0c08bf84ba2a35!2sMariano+de+Vedia+y+Mitre+10231,+B1736ELI+Trujui,+Provincia+de+Buenos+Aires!3b1!8m2!3d-34.5841243!4d-58.7596783!16s%2Fg%2F11np36y_xc!3m5!1s0x95bc97470157d00d:0x2d0c08bf84ba2a35!8m2!3d-34.5841243!4d-58.7596783!16s%2Fg%2F11np36y_xc?entry=ttu&g_ep=EgoyMDI2MDcxNS4wIKXMDSoASAFQAw%3D%3D">
                    <img aria-colspan="img-ubicacion"  src="{{ url_for('static', filename='img/ubicacion.png') }}" alt="" class="img-ubicacion">
                </a>
                <div class="div-direccion">
                    <a class="a-direccion" id="ubicacion" href="https://www.google.com/maps/place/Mariano+de+Vedia+y+Mitre+10231,+B1736ELI+Trujui,+Provincia+de+Buenos+Aires/@-34.5840521,-58.759809,17z/data=!4m15!1m8!3m7!1s0x95bc97470157d00d:0x2d0c08bf84ba2a35!2sMariano+de+Vedia+y+Mitre+10231,+B1736ELI+Trujui,+Provincia+de+Buenos+Aires!3b1!8m2!3d-34.5841243!4d-58.7596783!16s%2Fg%2F11np36y_xc!3m5!1s0x95bc97470157d00d:0x2d0c08bf84ba2a35!8m2!3d-34.5841243!4d-58.7596783!16s%2Fg%2F11np36y_xc?entry=ttu&g_ep=EgoyMDI2MDcxNS4wIKXMDSoASAFQAw%3D%3D">
                        <h3 class="h3-direccion" >Villa Nueva, Trujuy, Moreno, Buenos Aires 😎</h3>
                    </a>
                </div>
            </div>

            <div>

            </div>

        </section>
      
    </main>
    
    <footer class="footer">
        
        <div class="div-desarrollador">
            <div class="div-desarrollador-1">
                <div class="div-img-nombre">
                    <img class="img-desarrollador" src="{{ url_for('static', filename='img/Gabriel-ponce.png') }}" alt="">
                    <h4>Gabriel A. Ponce</h4>
                    <div class="div-barra"></div>
                    <div class="p-desarrollador">
                    <p>Desarrollador de esta plataforma</p>
                    <p>Diseño y desarrollo integral.</p>
                </div>
                </div>
            </div>
        </div>
        <div class="div-derechos">
            <p>
                © 2026 Gabriel Ponce. Todos los derechos reservados. 
                Queda prohibida la reproducción total o parcial de 
                este sitio sin autorización del autor.
            </p>

        </div>

    </footer>
</body>
</html>